<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link th:replace="partials/partials :: bootstrap"></link>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<form th:action="@{/post/create}" th:method="POST">
    <h1>Create Post</h1>
    <div class="container">
    <label for="title">Post Title</label><br>
    <input name="title" id="title" type="text" placeholder="Enter Title">
    </div>
    <div>
    <label for="body">Post</label><br>
    <textarea name="body" id="body" placeholder="Enter Post"></textarea>
    </div>
    <input id="submit" type="submit" value="Submit Post">
</form>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: script"></script>
</body>
</html>